
@{
    ViewData["Title"] = "Race Strategy";
}

<!--   Home index    -->

<div class="text-center">
    <h1 class="display-4">idk</h1>

    <br />
    <br />
    <br />
    <a asp-controller="Race" asp-action="NewRace">Nové preteky</a>
</div>
