@model RaceSeries

@{
    <div class="text-center">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>ParticipantCount</th>
            
            
            </thead>

            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>@Model.ParticipantCount</td>
                </tr>
                
            </tbody>
        </table>
    </div>
}
